<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>badGuys.ejs</title> <!--title the page so that I can find it in my browser tabs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> <!--My CSS comes after bootstrap to cascade-->
  </head>
  <body class="container">



<div>
<h4>Hello - badGuys ejs</h4>
</div>
<div id="component">

  <div v-for="villain in villains" class="panel">
    <h3>{{ villain.name }}</h3>
    <img :src="villain.img"/>
    <ul>
      <li>{{ villain.evilPower }}</li>
      <li>{{ villain.nemesis }}</li>
      <li>{{ villain.alterEgo }}</li>
    </ul>
  </div>


</div>



<!--keep script at the end-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="evildoer.js"></script> <!--link my javascript file from the same directory location-->
      </body>
</html>
