<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Index ejs</title> <!--title the page so that I can find it in my browser tabs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> <!--My CSS comes after bootstrap to cascade-->
  </head>
  <body class="container">



<div>
<h4>This is my index.ejs</h4>
<P><a href="/goodGuys">Heroes</a></P>
<P><a href="/badGuys">Villains</a></P>
</div>







<!--keep script at the end-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      </body>
</html>
